/* ------------------------------------------------------------------------------------------ */
/* SETUP */
/* ------------------------------------------------------------------------------------------ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.7;
  color: #f046bd;
}

/* ------------------------------------------------------------------------------------------ */
/* ELEMENTS */
/* ------------------------------------------------------------------------------------------ */

h1,
h2 {
  font-weight: 100;
  color: rgb(129, 219, 255);
  text-shadow: 0.1em 0.1em 3px rgba(195, 44, 255, 0.87),
    0 0 10px rgba(113, 215, 255, 0.952);
  letter-spacing: 0.5em;
  text-transform: uppercase;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 1.5rem;
}

/* ------------------------------------------------------------------------------------------ */
/* REUSABLE */
/* ------------------------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------------------------ */
/* ANIMATIONS */
/* ------------------------------------------------------------------------------------------ */

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRotated {
  0% {
    transform: scale(-1, -1) rotate(30deg) translateY(200px);
  }

  100% {
    transform: scale(-1, -1) rotate(30deg) translateY(0);
  }
}

/* ------------------------------------------------------------------------------------------ */
/* HEADER */
/* ------------------------------------------------------------------------------------------ */

.header {
  height: 90vh;
  width: 100%;

  position: relative;
}

.header-background-img {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      to right bottom,
      rgba(6, 1, 8, 0.95),
      rgba(12, 3, 17, 0.95)
    ),
    url("../img/IMG-20210222-WA0012.jpg");
  background-size: cover;
  position: fixed;
  z-index: -1;
}

.text-box {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary {
  backface-visibility: hidden;
}

.heading-primary-main {
  display: block;

  animation: moveInLeft 2s ease-out 1s;
  animation-fill-mode: backwards;
}

.heading-primary-sub {
  display: block;

  animation: moveInBottom 2s ease-out 1.5s;
  animation-fill-mode: backwards;
  margin-left: 40%;
}

.header-audio {
  width: 300px;
  position: absolute;
  bottom: 30px;
  right: 30px;

  animation: moveInBottom 3s ease-out 4s;
  animation-fill-mode: backwards;
}

/* ------------------------------------------------------------------------------------------ */
/* NAV-BAR */
/* ------------------------------------------------------------------------------------------ */

.nav-bar {
  width: 300px;
  height: 180px;
  position: fixed;
  top: -50px;
  right: 20%;
  z-index: 999;
}

.nav-bar ul {
  width: 100%;
  height: 100%;

  list-style: none;
  writing-mode: vertical-lr;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  backface-visibility: hidden;
}

.nav-bar ul li {
  flex: 0 0 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 15px;
}

.nav-bar ul li a:link,
.nav-bar ul li a:visited {
  width: 100%;
  height: 100%;
  background-color: rgba(16, 0, 22, 0.7);
  border: 2px solid rgb(212, 105, 255);
  border-left: 1px solid rgb(96, 218, 255);
  box-shadow: 1px -1px 5px rgba(207, 85, 255, 0.74),
    -1px 0 2px rgba(64, 170, 212, 0.87);
  transform: scale(-1, -1) rotate(30deg);
  border-top-right-radius: 30px;

  color: rgb(129, 219, 255);
  text-shadow: 0 0 10px rgba(113, 215, 255, 0.952);

  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
}

.nav-bar ul li a:hover,
.nav-bar ul li a:active {
  transform: scale(-1, -1) rotate(30deg) translateY(-20px);
  box-shadow: 1px -1px 6px rgba(207, 85, 255, 0.74),
    -2px 0 10px rgba(64, 170, 212, 0.87);
  border-left: 3px solid rgb(96, 218, 255);
}

.nav-btn-1 {
  animation: moveInRotated 2s ease-out 2s;
  animation-fill-mode: backwards;
}

.nav-btn-2 {
  animation: moveInRotated 2s ease-out 2.5s;
  animation-fill-mode: backwards;
}

.nav-btn-3 {
  animation: moveInRotated 2s ease-out 3s;
  animation-fill-mode: backwards;
}

.nav-btn-4 {
  animation: moveInRotated 2s ease-out 3.5s;
  animation-fill-mode: backwards;
}

/* ------------------------------------------------------------------------------------------ */
/* ABOUT */
/* ------------------------------------------------------------------------------------------ */

.section-about {
  width: 100%;
  height: 800px;

  /* clip-path: polygon(0 0, 100% 15%, 100% 100%, 0% 85%); */

  /* background-image: linear-gradient(
    to right top,
    rgb(6, 26, 36),
    rgb(28, 6, 32)
    ); */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about__slideshow-wrap {
  height: 96%;
  flex: 1;
  z-index: -1;

  filter: drop-shadow(0 2px 0 rgb(229, 124, 255))
    drop-shadow(0 -2px 0 rgb(229, 124, 255))
    drop-shadow(0 0 10px rgba(221, 87, 255, 0.815));
}

.about__slideshow {
  height: 100%;

  background-image: url("../img/IMG-20210222-WA0017.jpg");
  background-size: cover;
  background-position: center;

  display: flex;
  align-items: center;
  justify-content: space-between;

  /* clip-path: polygon(0 0, 100% 4%, 100% 93%, 0% 89%); */
  clip-path: polygon(0 0, 100% 4%, 100% 92%, 0% 88%);
  z-index: 0;
}

.chevron-arrow {
  width: 50px;
}

.chevron-arrow--left {
  margin-left: 50px;
}

.chevron-arrow--right {
  margin-right: 50px;
}

.about__text-box-wrap {
  width: 66.6%;
  height: 100%;
  filter: drop-shadow(0 2px 0 rgb(142, 223, 255))
    drop-shadow(0 -2px 0 rgb(142, 223, 255))
    drop-shadow(-2px 0 0 rgb(142, 223, 255))
    drop-shadow(0 0 10px rgba(129, 219, 255, 0.8));
  z-index: 1;
}

.about__text-box {
  height: 100%;
  padding: 50px;
  /* box-shadow: -1px 0 20px rgba(129, 219, 255, 0.815);
  border-left: 1px solid rgb(142, 223, 255); */

  background-image: linear-gradient(
    to right top,
    rgb(6, 26, 36),
    rgb(28, 6, 32)
  );

  display: flex;
  flex-direction: column;
  justify-content: center;

  /* clip-path: polygon(0 5%, 1% 4%, 100% 12%, 100% 100%, 1% 93%, 0% 92%); */
  clip-path: polygon(0 4.5%, 0.5% 4%, 100% 12%, 100% 100%, 0.5% 92%, 0% 91.5%);
}

.about__text {
  margin: 30px 0 0 30px;
}

/* ------------------------------------------------------------------------------------------ */
/* ASD */
/* ------------------------------------------------------------------------------------------ */

.section-rock {
  width: 100%;
  height: 800px;
}

.section-rock2 {
  width: 100%;
  height: 800px;
  background-image: linear-gradient(
    to right bottom,
    rgb(8, 61, 82),
    rgb(110, 2, 124)
  );

  clip-path: polygon(0 0, 100% 20%, 100% 80%, 0% 100%);
}

.section-rock3 {
  width: 100%;
  height: 800px;
}

/* ------------------------------------------------------------------------------------------ */
/* CONTACT */
/* ------------------------------------------------------------------------------------------ */

.section-form {
  width: 100%;

  background-image: linear-gradient(
    to right bottom,
    rgb(8, 61, 82),
    rgb(110, 2, 124)
  );

  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ------------------------------------------------------------------------------------------ */
/* FOOTER */
/* ------------------------------------------------------------------------------------------ */

.footer {
  width: 100%;
  height: 200px;
  background-color: #440055;
  display: flex;
  align-items: center;
  justify-content: center;
}
