/* COLOR PALETTE:
#000272
#341677
#a32f80
#ff6363
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: #f046bd;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.7;
  color: #777;
}

.header {
  height: 90vh;
  width: 100%;

  position: relative;
  overflow: hidden;
}

.header-backgroud-img {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      to right bottom,
      rgba(6, 1, 8, 0.98),
      rgba(12, 3, 17, 0.98)
    ),
    url("https://images.freeimages.com/images/large-previews/f27/glowing-street-1508173.jpg");
  background-size: cover;
  background-position: bottom;
  position: fixed;
  z-index: -1;
}

.text-box {
  position: absolute;
  top: 40%;
  left: 30%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary {
  text-transform: uppercase;

  backface-visibility: hidden;
}

.heading-primary-main {
  display: block;
  font-size: 80px;
  font-weight: 100;
  letter-spacing: 35px;
  color: rgba(64, 170, 212, 0.87);
  text-shadow: 10px 10px rgba(147, 32, 192, 0.87);

  animation: moveInLeft 2s ease-out 1s;
  animation-fill-mode: backwards;
}

.heading-primary-sub {
  display: block;
  font-size: 70px;
  font-weight: 100;
  letter-spacing: 17.4px;
  color: rgba(51, 144, 180, 0.87);
  text-shadow: 10px 10px rgba(135, 30, 177, 0.87);

  animation: moveInBottom 2s ease-out 1.5s;
  animation-fill-mode: backwards;
  margin-left: 30%;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRotated {
  0% {
    transform: scale(-1, -1) rotate(30deg) translateY(200px);
  }

  100% {
    transform: scale(-1, -1) rotate(30deg) translateY(0);
  }
}

.nav-bar {
  width: 300px;
  height: 180px;
  position: fixed;
  top: -50px;
  right: 10%;
  z-index: 999;
}

.nav-bar ul {
  width: 100%;
  height: 100%;

  list-style: none;
  writing-mode: vertical-lr;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  backface-visibility: hidden;
}

.nav-bar ul li {
  flex: 0 0 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-bar ul li a:link,
.nav-bar ul li a:visited {
  width: 100%;
  height: 100%;
  background-color: rgba(199, 63, 253, 0.2);
  border: 1px solid rgb(199, 63, 253);
  box-shadow: -3px -3px 0 rgba(64, 170, 212, 0.87);
  transform: scale(-1, -1) rotate(30deg);
  border-top-right-radius: 30px;

  color: rgb(76, 188, 233);
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
}

.nav-bar ul li a:hover,
.nav-bar ul li a:active {
  transform: scale(-1, -1) rotate(30deg) translateY(-20px);
}

.nav-btn-1 {
  animation: moveInRotated 2s ease-out 2s;
  animation-fill-mode: backwards;
}

.nav-btn-2 {
  animation: moveInRotated 2s ease-out 2.5s;
  animation-fill-mode: backwards;
}

.nav-btn-3 {
  animation: moveInRotated 2s ease-out 3s;
  animation-fill-mode: backwards;
}

.nav-btn-4 {
  animation: moveInRotated 2s ease-out 3.5s;
  animation-fill-mode: backwards;
}

.header-audio {
  width: 300px;
  position: absolute;
  bottom: 30px;
  right: 30px;

  animation: moveInBottom 3s ease-out 4s;
  animation-fill-mode: backwards;
}

.section-about {
  width: 100%;
  height: 1000px;
  background-image: linear-gradient(
    to right top,
    rgb(8, 61, 82),
    rgb(110, 2, 124)
  );

  clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 80%);
  /* clip-path: polygon(
    0 20%,
    0 80%,
    100% 100%,
    54% 62%,
    29% 25%,
    66% 54%,
    100% 100%,
    100% 0%
  ); */

  display: flex;
  align-items: center;
  justify-content: center;
}

.about-background-img {
  position: absolute;
  width: 70%;
  height: 70%;
  background-image: linear-gradient(
      to right bottom,
      rgba(102, 33, 129, 0.836),
      rgba(32, 6, 46, 0.664)
    ),
    url("https://cdn.pixabay.com/photo/2015/06/16/16/48/guitar-811343_960_720.jpg");
  background-size: cover;
  background-position: bottom;
  clip-path: polygon(
    100% 100%,
    100% 35%,
    50% 100%,
    38% 25%,
    100% 0,
    0 82%,
    24% 0
  );
}

.about__text-box {
  width: 60%;
  z-index: 1;
}

.about__title {
  font-size: 80%;
}

.about__text {
}

.about__text-1 {
}

.about__text-2 {
}

.section-rock {
  width: 100%;
  height: 800px;
}

.section-rock2 {
  width: 100%;
  height: 800px;
  background-image: linear-gradient(
    to right bottom,
    rgb(8, 61, 82),
    rgb(110, 2, 124)
  );

  clip-path: polygon(0 0, 100% 20%, 100% 80%, 0% 100%);
}
